@keyframes afterTrainingList {
    0%   {left:0px; right:0px; opacity: 0}
    70%   {left:0px; right:0px; opacity: 100%}
    100% {left:30px; right:30px; opacity: 100%}
}

.animation{
    animation-name: afterTrainingList;
    animation-duration: 2s;
    animation-iteration-count: 1;
}